<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <main class="about-main ">
        <section id="about">
            <h1 class="about-h1">About</h1>

            <h2 class="about-h2">My Name</h2>
            <p class="about-p">Welcome to my project! My name is <strong>Abhijeet Srivastava</strong>, and you can check out my work on my <a class="about-a" href="https://github.com/abhijeet1312" target="_blank">GitHub profile</a>.</p>

            <h2 class="about-h2">Project Overview</h2>
            <p class="about-p">This project is built using a range of powerful technologies:</p>
            <ul class="about-ul">
                <li class="about-li"><strong>Node.js</strong>: A JavaScript runtime built on Chrome's V8 engine, enabling server-side scripting.</li>
                <li><strong>MongoDB</strong>: A NoSQL database that stores data in flexible, JSON-like documents.</li>
                <li><strong>Cookie Parser</strong>: Middleware for parsing cookie headers in HTTP requests.</li>
                <li><strong>EJS Templating</strong>: A templating engine that allows you to generate HTML markup with plain JavaScript.</li>
                <li><strong>MongoDB Compass</strong>: A graphical user interface for MongoDB to visualize and manipulate data.</li>
                <li><strong>MongoDB Atlas</strong>: A cloud database service that provides a fully-managed MongoDB database.</li>
            </ul>
            <p class="about-p">This combination of technologies allows me to create a robust, scalable, and user-friendly application. Thank you for your interest!</p>
        </section>
    </main>

</body>

</html>