<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/styles.css">
    <!-- Link to your CSS file -->
</head>

<body>
    <header>
        <h1>Contact Us</h1>

    </header>

    <main class="main-contact">
        <h2>We'd love to hear from you!</h2>
        <form action="/send-message" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
            </div>
            <button class="contact-btn" type="submit">Send Message</button>
        </form>
    </main>

    <footer class="footer">
        &copy;
        <%= new Date().getFullYear(); %> Abhijeet Srivastava • Built with NodeJs & MongoDB
    </footer>
</body>

</html>